[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
	helper = !/opt/homebrew/bin/gh auth git-credential
[user]
	email = 109835029+narlyx@users.noreply.github.com
	name = Narlyx
