[credential "https://github.com"]
  helper = !$GH_PATH auth git-credential
[credential "https://gist.github.com"]
  helper = !$GH_PATH auth git-credential
[user]
	email = 109835029+narlyx@users.noreply.github.com
	name = Narlyx
[http]
	postBuffer = 157286400
